{% extends 'project_content/base.html' %}

{% block content %}

<div class="pageholder">
    <div class="titleholder"> 
        
        <div class="title"> Geocoding for {{location.name}}</div> 
        
    </div>


    <div class="linkholder">
       
            <table id="ourtable3" class="myTable m-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Adress</th>
                        <th>Zipcode</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Lat</th>
                        <th>Lon</th>
                        <th>Place Id</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> {{location.id}} </td>
                        <td> {{location.name}} </td>
                        <td> {{location.adress}} </td>
                        <td> {{location.zipcode}} </td>
                        <td> {{location.city}} </td>
                        <td> {{location.country}} </td>
                        <td> {{latitude}} </td>
                        <td> {{longitude}} </td>
                        <td> {{place_id}} </td>
                    </tr>
                </tbody>

                
            </table>

     </div>

       

</div>

{% endblock %}