{% extends 'project_content/base.html' %}
{% block content %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script> 
    let map

    function initMap(){

        var locations = {{ locations|safe}};
        var firstLocation = locations[0]
        var infoWindow = []

        map = new google.maps.Map(document.getElementById("map"),{
            center: { lat: firstLocation.lat, lng: firstLocation.lng }, 
            zoom: 4,
        }
        );

        locations.forEach(function (location){
            var marker = new google.maps.Marker({
                position: {lat: location.lat, lng: location.lng}, 
                map: map, 
                title: location.name
            });

            var infowindow = new google.maps.InfoWindow({
                content: location.name, 
            });

            infoWindow.push(infowindow)

            marker.addListener('click', function(){
                infoWindow.forEach(function(iw){
                    iw.close();
                });

                infowindow.open(map, marker)
            });
        });
    }

    window.initMap = initMap

</script>

<div class="pageholder">
    <div class="titleholder"> 
        
        <div class="title"> Google Maps API Displaying Markers on the Map </div> 
        
    </div>


    <div class="linkholder">
        <div class="mapholder"> 
            <div id="map"> </div>

            <script async
                src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
            </script>

        </div>
        
     </div>


    <div class="linkholder">  
        <a href="{% url 'my_home_view' %}"> Go to our homepage</a> 

    </div>



</div>


{% endblock %}