{% extends 'project_content/base.html' %}
{% block content %}

<script> 
    let map;
    function initMap() {
    
    var locations = {{ locations|safe }};
    var firstLocation = locations[0]
    var infoWindows = [];

    map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: firstLocation.lat, lng: firstLocation.lng },
        zoom: 4,
    });

    locations.forEach(function (location) {
        var marker = new google.maps.Marker({
            position: { lat: location.lat, lng: location.lng },
            map: map,
            title: location.name
        });

        var infowindow = new google.maps.InfoWindow({
            content: location.name
        });

        infoWindows.push(infowindow); // Add the info window to the array

        marker.addListener('click', function () {
            // Close all info windows before opening the clicked one
            infoWindows.forEach(function (iw) {
                iw.close();
            });

            infowindow.open(map, marker); // Open the clicked info window
        });
    });

    

    
    }
    window.initMap = initMap;

</script>


<div class="pageholder">
    <div class="titleholder"> 
        
        <div class="title"> Displaying a map </div> 
        
    </div>


    <div class="linkholder">

        <div class="mapholder"> 
            <div id="map"></div>
            <script
            src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
            defer
            ></script>

        </div>

     </div>

     <div class="linkholder">  <a href="{% url 'my_home_view' %}"> Home</a> </div>

</div>

{% endblock %}